.on-view {
  &__title {
    text-align: center;
    margin-bottom: 8px;
  }
  
  &__subtitle {
    text-align: center;
  
    margin-bottom: 40px;
  }
  
  &__galary {
    margin-bottom: 40px;
  }
  
  &__galary-event {
    margin-bottom: 48px;
  }
  
  &__button-grid {
    @include grid;
  }
  
  &__button-position {
    @include onTablet {
      grid-column: 4 / 10;
    }
  
    @include onDesktop {
      grid-column: 5 / 9;
    }
  }
}
