@import "utils";
@import "fonts";
@import "typography";

$accentMainColor: #d12d35;
$accentDarkColor: #161616;

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin topActions {
  width: 100%;
  --icon-width: 18px;

  display: grid;
  grid-template-columns: 64px 1fr var(--icon-width) var(--icon-width);
  gap: 56px;
  align-items: center;

  
  @include onTablet {
    --icon-width: 24px;
    grid-template-columns: 88px 1fr var(--icon-width) var(--icon-width);
  }
}

@mixin content {
  height: 100vh;
  box-sizing: border-box;
  padding: 50px 0 0;
}

@mixin grid {
  @include onTablet {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 24px;
  }
}

@mixin after {
  content: "";
  display: block;
  height: 1px;
  background-color: #fff;
  position: relative;
  left: 0;
  top: 8px;

  opacity: 0;
  width: 0;

  transition: all 0.3s;
}

@mixin afterHover {
  opacity: 1;
  width: 100%;
}

@mixin lineEffect {
  &::after {
    @include after;
  }

  &:hover::after {
    @include afterHover;
  }
}

@mixin last {
  margin: 0;
}

.page {
  font-family: "Cinzel", serif;
  color: $accentDarkColor;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;

  &__body {
    margin: 0;
    padding: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 140px;
    }
  }

  &__section-title {
    margin: 0 0 32px;

    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;

    text-align: center;

    @include onTablet {
      margin: 0;

      font-size: 48px;
    }
  }
}

.container {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;

  @include onTablet {
    padding: 0 72px;
  }

  @include onDesktop {
    padding: 0 120px;
  }
}

.logo {
  &__image {
    width: 64px;
    height: 46px;
  
    @include onTablet {
      width: 88px;
      height: 64px;
    }
  }
}

.icon {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &__tooltip {
    position: absolute;
    right: 100%;
    padding-right: 20px;
    top: 50%;
    transform: translateY(-50%);

    opacity: 0;
    pointer-events: none;
    text-decoration: none;

    transition: all 0.3s;
  }

  &:hover &__tooltip {
    @include onDesktop {
      opacity: 1;
      pointer-events: all;
    }
  }

  &--phone {
    background-image: url(../images/phone.svg);
    grid-column-start: 3;
  }

  &--menu-opener {
    background-image: url(../images/burgerMenu.svg);

    &:hover {
      background-image: url(../images/burgerHover.svg);
    }
  }

  &--close {
    background-image: url(../images/close.svg);
    grid-column: 4;
  }
}

.numbers {
  display: flex;
  flex-direction: column;
  
  &__title {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    width: max-content;
    margin: 0;
  }

  &__number {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    display: block;
    margin-bottom: 8px;

    &--last {
      margin-bottom: 16px;
    }
  }

  &__action {
    display: block;
    width: max-content;

    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;

    @include lineEffect;
  }
}

.header {
  background-image: url(../images/photo/header.png);
  background-size: cover;
  background-position: center;

  &__content {
    @include content;
  }

  &__top {
    @include topActions;

    margin-bottom: 140px;

    @include onTablet {
      margin-bottom: 164px;
    }
  }

  &__title {
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -1.5px;
    line-height: 100%;
    color: #fff;
    text-align: center;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }
}

.menu {
  background-color: $accentMainColor;

  &__content {
    @include content;
  }

  &__top {
    @include topActions;

    margin-bottom: 40px;

    @include onDesktop {
      margin-bottom: 56px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__list-item {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;

    margin-bottom: 32px;
    width: max-content;
  }

  &__list-link {
    color: #fff;
    text-decoration: none;
    position: relative;

    @include lineEffect;
  }
}

.about-us {
  font-weight: 700;

  &__grid {
    @include grid;
  }

  &__titles {
    @include onTablet {
      grid-column: 1 / 6;
    }
  }

  &__subtitle {
    margin: 0 0 4px;

    font-size: 12px;
    line-height: 140%;
    color: $accentMainColor;
  }

  &__chedule {
    margin: 0 0 24px;

    display: grid;
    grid-template-columns: 148px 1fr;

    @include onTablet {
      grid-column: 6 / 13;
    }

    &--last {
      @include last;
    }
  }

  &__chedule-title {
    margin: 0 0 16px;

    font-size: 24px;
    line-height: 30px;

    grid-column: 1 / 3;
  }

  &__chedule-time {
    margin: 0 0 8px;

    font-size: 16px;
    line-height: 27px;

    &--last {
      grid-column: 1 / 3;
      
      @include last;
    }
  }

  &__chedule-days {
    margin: 0 0 8px;

    font-size: 16px;
    line-height: 27px;
    font-weight: 400;

    &--last {
      grid-column: 1 / 3;
      
      @include last;
    }
  }
}

.on-view {
  &__title {
    text-align: center;
    margin-bottom: 8px;
  }

  &__subtitle {
    text-align: center;

    margin-bottom: 40px;
  }

  &__galary {
    margin-bottom: 40px;
  }

  &__galary-event {
    margin-bottom: 48px;
  }

  &__button-grid {
    @include grid;
  }

  &__button-position {
    @include onTablet {
      grid-column: 4 / 10;
    }

    @include onDesktop {
      grid-column: 5 / 9;
    }
  }
}

.event {
  &__photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;

    @include grid;

    margin-bottom: 24px;

    &--3 {
      grid-template-columns: repeat(3, 1fr);

      @include onTablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @include onDesktop {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &__item {
    display: flex;

    &--1-4 {
      @include onTablet {
        grid-column: 1 / 5;
      }
    }

    &--5-12 {
      @include onTablet {
        grid-column: 5 / 13;
      }
    }

    &--1-8 {
      @include onTablet {
        grid-column: 1 / 9;
      }
    }

    &--9-12 {
      @include onTablet {
        grid-column: 9 / 13;
      }
    }

    &--hidden {
      @include onTablet {
        display: none;
      }

      @include onDesktop {
        display: block;
      }
    }
  }

  &__photo {
    width: 100%;
    aspect-ratio: 1/1;
    max-height: 320px;

    object-fit: cover;
    object-position: left;

    &--rectangle {
      @include onTablet {
        aspect-ratio: unset;
      }
    }
  }

  &__description {
    margin-bottom: 48px;

    &--last {
      margin-bottom: 40px;
    }
  }

  &__description-title {
    margin: 0;
  }

  &__description-link {
    font-weight: 700;
    color: $accentMainColor;
    text-decoration: none;

    cursor: pointer;
  }

  &__description-date {
    margin: 0;
  }
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 100%;
  height: 56px;
  background-color: $accentMainColor;
  color: #fff;
  font-weight: 700;
  text-decoration: none;

  transition: background-color 0.3s;

  &:hover {
    background-color: #ae1c23;
  }

  &:active {
    background-color: #eb343d;
  }
}

.explore {
  &__title-grid {
    @include grid;
  }

  &__title {
    margin: 0 0 40px;
    grid-column: 4 / 10;
  }

  &__gallery {
    @include grid;
  }

  &__gallery-variant {
    @include onTablet {
      grid-column: 4 / 10;
    }

    &--1-4 {
      @include onDesktop {
        grid-column: 1 / 5;
      }
    }

    &--5-8 {
      @include onDesktop {
        grid-column: 5 / 9;
      }
    }

    &--9-12 {
      @include onDesktop {
        grid-column: 9 / 13;
      }
    }
  }
}

.online-variant {
  &__photo-container {
    position: relative;

    width: 100%;
    padding-bottom: 100%;

    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 32px;
    }
  }

  &__photo {
    position: absolute;
    
    width: 100%;
    height: 100%;
  }

  &__description {
    margin-bottom: 48px;
  }

  &__title {
    margin: 0;

    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    @include onTablet {
      margin-bottom: 4px;
    }
  }

  &__link {
    text-decoration: none;
    color: $accentMainColor;
  }

  &__paragraph {
    margin: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }
}
