@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin topActions {
  width: 100%;
  --icon-width: 18px;

  display: grid;
  grid-template-columns: 64px 1fr var(--icon-width) var(--icon-width);
  gap: 56px;
  align-items: center;

  
  @include onTablet {
    --icon-width: 24px;
    grid-template-columns: 88px 1fr var(--icon-width) var(--icon-width);
  }
}

@mixin content {
  height: 100vh;
  box-sizing: border-box;
  padding: 50px 0 0;
}

@mixin grid {
  @include onTablet {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 24px;
  }
}

@mixin after {
  content: "";
  display: block;
  height: 1px;
  background-color: #fff;
  position: relative;
  left: 0;
  top: 8px;

  opacity: 0;
  width: 0;

  transition: all 0.3s;
}

@mixin afterHover {
  opacity: 1;
  width: 100%;
}

@mixin lineEffect {
  &::after {
    @include after;
  }

  &:hover::after {
    @include afterHover;
  }
}

@mixin last {
  margin: 0;
}
